@font-face {
  font-family: "Norse Bold";
  src: url(./fonts/norse/norse-bold-webfont.woff) format("woff"),
       url(./fonts/norse/norse-bold-webfont.woff2) format("woff2");
}

html {
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
  min-height: 750px;
  overflow-x: hidden;
}

aside {
  height: 100%;
  flex-basis: 34%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(./images/side-image.jpg); 
  background-size: cover;
  background-position: center;
}

.logo {
  margin-top: 20vh;
  background-color: rgba(0, 0, 0, 0.4);
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.logo img {
  width: auto;
  height: max(10vh, 60px);
}

.logo span {
  color: white;
  font-family: "Norse bold", sans-serif;
  font-size: max(9vh, 48px);
}

footer {
  text-align: center;
  color: white;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
}

a {
  color: white;
}

main {
  height: 100%;
  flex-basis: 66%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
}

main section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}

.header {
  height: 33%;
  font-weight: 600;
  background-color: rgb(249 250 251);
  justify-content: center;
}

.header p {
  max-width: 800px;
}

.header p:last-child {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form {
  margin-top: 1rem;
  justify-content: center;
  gap: 2rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.form > * {
  max-width: 800px;
}

form {
  font-size: 0.76rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: rgba(0, 0, 0, 0.8);
  height: 250px;
}

form ul {
  list-style: none;
  height: 100%;
  max-width: 880px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

form li {
  display: flex;
  flex-direction: column;
  position: relative;
}

li span:last-child {
  margin-bottom: 10px;
}

input {
  width: 90%;
  max-width: 350px;
  padding-left: 10px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border: 1px solid rgb(67, 95, 255);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

input:invalid.filled {
  border: 1px solid rgb(201, 0, 0);
}

.show-pwd, .show-conf {
  visibility: hidden;
}

.hide-pwd, .hide-conf {
  display: none;
  visibility: hidden;
}

li img {
  position: absolute;
  right: 60px;
  top: 18px;
  filter: invert(56%) sepia(2%) saturate(13%) hue-rotate(329deg) brightness(83%) contrast(97%); /* Turn rgb(0,0,0) into rgb(120,120,120) https://stackoverflow.com/questions/7415872/change-color-of-png-image-via-css/50942954#50942954?newreg=f56915e350a64e1c943d43f05b339dc2*/
}

li div > div {
  background-color: #fff;
  text-align: center;
  padding: 5px;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 5px;
  position: absolute;
  top: -25px;
  right: 35px;
  color: rgb(120, 120, 120);
  z-index: 2;
}

input:hover ~ .show-pwd, .show-pwd:hover, 
input:hover ~ .show-conf, .show-conf:hover,
input:hover ~ .hide-pwd, .hide-pwd:hover,
input:hover ~ .hide-conf, .hide-conf:hover {
  visibility: visible;
}

form span {
  color: rgb(201, 0, 0);
  visibility: hidden;
  position: absolute;
  top: 50px;
}

form span.visible {
  visibility: visible;
}

.action {
  justify-content: center;
  align-items: start;
  height: 33%;
  max-width: 800px;
}

button {
  background-color: #596D48;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
}

button:hover {
  background-color: #48583a;
}

button:active {
  transform: scale(1.03);
}

.action p {
  margin-top: 2rem;
  font-size: 0.8rem;
}

.action a {
  color: #596D48;
  text-decoration: none;
  font-weight: bold;
}

.action a:hover {
  color: #2e3825;
}

.action a:active {
  text-shadow: 1px 1px 1px #000;
}

@media only screen and (max-width: 810px) {
  main section, .action {
    padding: 0 5%;
    align-items: center;
  }

  .header {
    text-align: center;
    font-weight: normal;
    font-size: 1.3rem;
  }

  .form {
    gap: 2rem;
    min-height: 420px;
    margin-top: -1rem;
  }

  form ul {
    gap: 5%;
  }

  input {
    width: 100%;
  }

  li img {
    right: 8px;
  }

  li div > div {
    right: -15px;
  }
}

@media only screen and (max-width: 570px) {
  body {
    flex-direction: column;
  }

  aside {
    max-height: 160px;
    flex: 0;
    position: relative;
  }

  main section {
    flex: 0;
  }

  .logo {
    margin: 0;
    height: 160px;
  }

  .logo img {
    height: 80px;
  }

  footer {
    position: absolute;
    bottom: 5px;
  }

  .header {
    padding: 20px;
  }

  .header > p:last-of-type {
    margin-bottom: 0;
  }

  .form {
    min-height: 500px;
    gap: 0;
    margin: 0;
    padding: 15px 0 25px 0;
    justify-content: space-between;
  }

  form {
    height: 410px;
  }

  form ul {
    grid-template-columns: 1fr;
  }

  .action {
    min-height: 110px;
    justify-content: center;
  }

  .action p {
    margin-top: 10px;
  }
}