* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #9ebdd1;
  padding: 20px;
  font-family: 'Karla', sans-serif;
}

.app {
  margin: 0;
  padding: 0;
  position: relative;
  height: 450px;
  max-width: 500px;
}

main {
  background-color: #F5F5F5;
  height: 450px;
  max-width: 500px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dark > main {
  background-color: #353535;
  color: #D5D4D8;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.die-num {
  font-size: 2rem;
}

.roll-dice {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
}

.dark .roll-dice {
  background-color: #918E9B;
  color: #000;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

img {
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.time > div {
  width: 180px;
  display: flex;
  justify-content: flex-start;
}

.time_value, .roll_value {
  margin-left: 10px;
  margin-right: auto;
  text-align: left;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 700;
  font-size: 20px;
}

/*TOGGLER STYLES*/

.toggler {
  position: absolute;
  right: 20px;
  top: 15px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #131313;
}

.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #807f85;
}

.dark .toggler--dark {
  color: #FFFFFF;
}

.dark .toggler--slider {
  justify-content: flex-end;
}