.about, .interests {
  line-height: 1.4em;
}

.about__title, .interests__title {
  font-weight: 700;
  font-size: 16px;
}

.interests__title {
  margin-top: 27px;
}

.about > p, .interests > p {
  margin-top: 5px;
  font-size: 10px;
  font-weight: 400;
}