form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
  margin: 36px;
}

form > div {
  display: flex;
  gap: 17px;
}

input {
  flex: 1;
  padding: 0 10px;
  font-family: 'Karla', sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  height: 35px;
}

input[type="button"] {
  padding: 10px;
  line-height: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #672280, #A626D3);
  border: none;
  cursor: pointer;
}

.image {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-family: 'Anton', sans-serif;
  font-size: 32px;
  font-weight: 900;
  text-shadow: 1px 1px 2px #000,
              -1px 1px 2px #000,
               1px -1px 2px #000,
              -1px -1px 2px #000;
  letter-spacing: 0.05em;
  height: 304px;
  width: 477px;
  margin: 0 36px 0 36px;
  padding-bottom: 36px;
}

.image > img {
  width: 100%;
  height: 100%;
}

.upper-text {
  position: absolute;
  top: 16px;
}

.lower-text {
  position: absolute;
  bottom: 52px;
}