* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
}

.container {
  max-width: 550px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 20px 0;
  color: #fff;
  background-color: #F55A5A;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.075em;
}
